body {
    background-color: beige;
}

.image-to-show {
    width: 500px;
    height: 500px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#stopBtn,
#startBtn {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: powderblue;
    transition: 0.2s ease-out;
    color: white;
    font-size: 16px;
}
#stopBtn {
    background-color: #f44336;
}

#startBtn {
    background-color: #4CAF50;
}

.buttons {
    display: flex;
    justify-content: center;
}

#timerOut {
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.hidden{
    display: none;
}