
#inputBox {
    background-color: teal;
    width: 200px;
    height: 50px;
    position: relative;
    border-radius: 7px;
    margin-top: 30px;
    box-sizing: border-box;
}

#input {
    box-sizing: border-box;
    position: absolute;
    right: 15px;
    top: 9px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 2px solid white;
}

.input-text-price {
    position: absolute;
    top: 15px;
    left: 8px;
}

#deleteButton {
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid grey;
    outline: none;
    font-size: 15px;
    color:red;
    font-weight: bold;
}
.price-box{
    border:1px solid teal;
    border-radius: 3px;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}
