body {
    font-family: 'Open Sans', sans-serif;
}

.header-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.header-nav-left-content {
    display: flex;
}

.header-left-text {
    font-weight: bold;
    font-size: 22px;
    margin-left: 15px;
    color: white;
}

a {
    text-decoration: none;
}

.nav-logo-img {
    margin-left: 15px;
}

.header-menu-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 600;
    font-size: 15px;
}

.header-menu-link:hover {
    color: black;
    text-shadow: 2px -2px 3px black;
}

.header-right-search-form {
    position: relative;
}

.head-search-input {
    height: 69px;
    width: 0;
    padding: 0 40px 0 30px;
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    background: transparent;
    transition: .5s;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: white;
    cursor: pointer;
}

.head-search-button {
    position: relative;
    top: 0;
    right: 0;
    background: #000000;
    border: none;
    height: 70px;
    width: 68px;
    cursor: pointer;
    z-index: 1;
}

.head-search-input:focus {
    width: 200px;
    z-index: 1;
    border-bottom: 1px solid #F9F0DA;
}

.fa-search {
    color: white;
}

.header-banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../Images/header-bg-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 400px;
}

.header-banner-section-title {
    margin-top: 0;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.header-banner-section-button-Subscribe,
.header-banner-section-button-Best {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    width: 170px;
    height: 55px;
    border: none;
    transition: background 0.5s .05s;
}

.header-banner-section-button-Subscribe {
    background-color: #89CA62;
    margin-right: 10px;
}

.header-banner-section-button-Best {
    background-color: #14B9D5;
    margin-left: 10px;
}

.banner-button-hover:hover {
    box-shadow: 5px 5px 5px black;
    color: black;
    font-weight: bold;
    background: rgba(255, 255, 255, .3);
    border: 2px solid black;
    cursor: pointer;

}

.popular-hotels-section {
    background: #F2F2F2;
    padding-bottom: 70px;
}

.popular-hotels-section-title {
    margin: 0;
    font-size: 27px;
    padding-top: 60px;
    text-transform: uppercase;
    color: #18B4CF;
    padding-bottom: 37px;
    text-align: center;
}

.hotel-section-images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hotel-section-img-text {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    padding: 21px 0;
    margin: 0;
}

.hotel-section-photo {
    margin: 15px;
    background-color: white;
    text-align: center;
}

.popular-hotel-section-img {
    width: 100%;
}

.hotel-section-column-box {
    display: flex;
    flex-direction: column;
}

/* Картинка скачана з Git */
.most-popular-clients-section {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../Images/img_parallax_bg-full .jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 598px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
}

/*  Картинка скачана з Fligma */
/*.most-popular-clients-section {*/
/*    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("../Images/Popular-Clients-background.png");*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    height: 598px;*/
/*    display: grid;*/
/*    grid-template-rows: repeat(5, 1fr);*/
/*    justify-items: center;*/
/*}*/

.popular-clients-tittle {
    position: relative;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    grid-column: 1/3;
    grid-row: 2;
    align-self: end;
}

.clients-banners-section {
    grid-column: 1/3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: start;
    align-items: center;
    justify-items: center;
}

.popular-clients-tittle:after {
    content: "";
    border-bottom: solid #18B4CF;
    width: 60px;
    height: 3px;
    position: absolute;
    top: 85px;
    left: 204px;
}

.rated-images-section-title {
    margin: 52px 0;
    text-transform: uppercase;
    color: #18B4CF;
    font-size: 27px;
    text-align: center;
}

.rated-images-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    overflow: hidden;
}

.news-section-tittle {
    text-transform: uppercase;
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    margin: 55px 0;
}

.news-section-content-container {
    display: grid;
    grid-template-columns: repeat(2, 554px);
    grid-template-rows: 259px 418px 418px 259px;
    grid-row-gap: 44px;
    grid-column-gap: 60px;
    justify-content: center;

}

.news-content-box-bigger {
    display: flex;
    grid-column: 1/3;
    width: 1168px;
}

.news-content-box-description {
    background: #F9F7F7;

}

.news-content-box-title {
    font-size: 18px;
    color: #353A3D;
    text-align: right;
    padding: 41px 24px 18px 30px;
    margin: 0;
}

.news-content-box-text {
    font-size: 14px;
    color: #5B6469;
    line-height: 21px;
    font-weight: 600;
    text-align: right;
    margin: 0;
    padding-right: 24px;
}

.news-content-box-smaller {
    background: #F9F7F7;
    margin-left: 35px;

}

.news-content-box-smaller-bottom {
    background: #F9F7F7;
    margin-right: 35px;

}

.news-content-box-smaller-text {
    font-size: 18px;
    color: #353A3D;
    text-align: center;
    padding: 15px 0;
    margin: 0;

}

.news-content-box-standard {
    background: #F9F7F7;
}

.news-content-box-standard.item1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.news-content-box-standard.item2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.news-content-box-standard.item3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.news-content-box-standard.item4 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.news-content-box-smaller-bottom {
    background: #F9F7F7;
}

.news-box-title {
    font-size: 18px;
    color: #353A3D;
    text-align: right;
    margin: 0;
    padding-top: 18px;
    padding-right: 27px;
}

.news-box-text {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    color: #353A3D;
    padding-right: 27px;

}

.footer-section {
    display: grid;
    grid-template-columns: 1fr 1168px 1fr;
    background: #000000;
    margin-top: 70px;
    align-content: center;
}

.footer-items-container {
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
}

.footer-text {
    font-size: 13px;
    color: #FFFFFF;
    margin: 0;
    padding: 30px 0;
}

.footer-right-logo {
    position: relative;
    align-self: center;
}

.footer-right-logo:before {
    content: url("../Images/VectorFooterObject2.svg");
    position: absolute;
    top: 0;
    left: -42px;
}

#jqNavLinks {
    display: flex;
    justify-content: space-evenly;
    background-color: darkslategrey;
    margin: 0;
}

.jq-nav-link {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.jq-nav-link:hover {
    color: black;
}

#jqNavLinks {
    padding: 10px;
    list-style-type: none;
}

#arrowUp {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: 590px;
}

#myArrowBtn {
    display: none;
    font-size: 60px;
    color: darkgrey;
    opacity: 0.8;
}

#myArrowBtn:hover {
    color: darkslategrey;
    cursor: pointer;
    opacity: 1;
}

.top-rated-btn{
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    margin:0 auto;
    display: grid;
    margin-top:10px;
    padding: 10px;
    background-color:darkslategrey ;
    color:white;
    border:none ;
}
.top-rated-btn:hover{
    color:black;
    background-color: #18B4CF;
}

