.container {
    margin: 0 auto;
    width: 1280px;
    background: darkslategrey;
}

.header-logo-text {
    margin-top: 61px;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.span-logo {
    color: deepskyblue;
}

.nav-links-all {
    width: 1283px;
    height: 72px;
    margin-top: 38px;
    text-align: center;
    background:black;
    box-sizing: border-box;
    border: 1px solid white;
    color: white;
}

.margin-right {
    margin-right: 0;
}

.nav-link {
    display: inline-block;
    font-size: 24px;
    padding: 25px 38px 19px 38px;
    color: white;

}

.nav-link:hover {
    padding-left: 37px;
    padding-right: 37px;
    background-color: #222F3A;
    border-left: 1px solid white;
    border-right: 1px solid white;

}

.aside-links-all {
    display: inline-block;
    width: 340px;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    background-color: black;
    border:2px solid white;
    color:white;
}

.aside-link {
    display: block;
    padding: 23px 0 23px 44px;
    font-size: 27px;
    color: #485863;

}

.aside-link:hover {
    background-color: #222F3A;
    color: white;
    padding-left: 82px;
}

.box-content {
    margin-top: 75px;
    text-align: center;
    overflow: hidden;

}

.box-content:hover {
    transform: scale(1.2, 1.2);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.main {
    border: 1px solid black;
    margin-left: 49px;
    width: 881px;
    height: 529px;
    display: inline-block;


}

.section {
    margin-top: 50px;
    display: inline-block;
}

.section-text-under-box, .section-text-above-footer {
    font-size: 18px;
}

.section-text-under-box {
    margin-top: 115px;
}

.footer-links-all {
    display: inline-block;
    width: 1280px;
    height: 69px;
    margin-top: 54px;
    background-color: rgba(99, 105, 110, 0.48);
    box-sizing: border-box;
    background-color: black;
    border:2px solid white;
    color:white;

}

.footer-link {
    display: inline-block;
    font-size: 28px;
    margin-left: 43px;
    color: black;
    padding: 18px 0 18px 0;
}

.footer-link:hover {
    padding-bottom: 8px;
    border-bottom: 2px solid steelblue;
    color: steelblue;
}

.footer-copy-text {
    font-size: 24px;
    margin-left: 80px;
}

.themeButton {
    height: 50px;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    background:black;
    border: 1px solid white;
    color: white;
}

.themeButton:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.nav-links-all.black,
.themeButton.black{
    background:black;
    box-sizing: border-box;
    border: 1px solid white;
    color: white;
}

.footer-links-all.black,
.aside-links-all.black{
    box-sizing: border-box;
    background-color: black;
    border:2px solid white;
    color:white;
}
.footer-links-all a,
.aside-links-all a{
    color: white;
}